<div class="flex flex-col items-center justify-center w-full px-4 sm:px-6 pb-16 overflow-hidden mt-5">
    <!-- Image -->
    <div class="w-32 sm:w-40 h-auto overflow-hidden m-5 py-4">
        <img id="logo-image" alt="OpnLaaS Logo" class="object-contain w-full h-full logo-image">
    </div>

    <!-- Login Card -->
    <div class="flex items-center justify-center h-fit w-full">
        <div class="w-full max-w-md bg-background-secondary p-6 rounded-lg shadow-lg border border-background-muted">
            <div class="flex flex-col items-center">
                <h2 class="text-center">Log in</h2>
                <p class="mb-4 text-center leading-2">Access your dashboard</p>
            </div>


            <form method="post" action="/api/auth/login" class="space-y-5 flex flex-col items-center">
                {{if .LoginError}}
                <div class="w-100 bg-red-200 text-red-700 p-3 rounded-md border border-red-300 mb-4">
                    {{.LoginError}}
                </div>
                {{end}}
                <div class="text-input">
                    <label>Username</label>
                    <input type="text" name="username" autocomplete="username" required>
                </div>
                <div class="text-input">
                    <label>Password</label>
                    <input type="password" name="password" autocomplete="current-password" required>
                </div>

                <div class="text-input">
                    <button type="submit"
                        class="w-full bg-accent-primary text-white py-2.5 rounded-lg font-medium hover:bg-accent-secondary cursor-pointer transition">
                        Sign In
                    </button>
                </div>
            </form>

            <p class="mt-4 text-sm text-font-muted text-center">
                Having trouble? Contact an admin.
            </p>
        </div>
    </div>
</div>
