lang {{ default .Templates.Common.Locale "en_US" }}
keyboard {{ default .Templates.Common.KeyboardLayout "us" }}
timezone {{ default .Templates.Common.Timezone "UTC" }} --utc
network --bootproto=dhcp --device=link --activate --hostname={{ .Identifiers.Hostname }}{{- if .DNSServers }} --nameserver={{ join .DNSServers "," }}{{- end }}
{{- if .Templates.Kickstart.RootPasswordHash }}
rootpw --iscrypted {{ .Templates.Kickstart.RootPasswordHash }}
{{- else }}
rootpw --lock
{{- end }}
firewall --disabled
selinux --permissive
text
zerombr
clearpart --all --initlabel
autopart --type=lvm
reboot

{{- if .Templates.ManagedUser.Username }}
user --name={{ .Templates.ManagedUser.Username }}{{ if .Templates.ManagedUser.PasswordHash }} --password={{ .Templates.ManagedUser.PasswordHash }} --iscrypted{{ else }} --lock{{ end }}{{ if .Templates.ManagedUser.AllowSudo }} --groups=wheel{{ end }}
{{- end }}
{{- if .Templates.GivenUser.Username }}
user --name={{ .Templates.GivenUser.Username }}{{ if .Templates.GivenUser.PasswordHash }} --password={{ .Templates.GivenUser.PasswordHash }} --iscrypted{{ else }} --lock{{ end }}{{ if .Templates.GivenUser.AllowSudo }} --groups=wheel{{ end }}
{{- end }}
%packages
@core
{{- range .Templates.Common.Packages }}
{{ . }}
{{- end }}
%end

%post --log=/root/ks-post.log
{{- if .Templates.Kickstart.PreScript }}
{{ .Templates.Kickstart.PreScript }}
{{- end }}
{{- if .Templates.ManagedUser.SSHAuthorizedKeys }}
mkdir -p /home/{{ .Templates.ManagedUser.Username }}/.ssh
cat <<'EOF' >/home/{{ .Templates.ManagedUser.Username }}/.ssh/authorized_keys
{{- range .Templates.ManagedUser.SSHAuthorizedKeys }}
{{ . }}
{{- end }}
EOF
chown -R {{ .Templates.ManagedUser.Username }}:{{ .Templates.ManagedUser.Username }} /home/{{ .Templates.ManagedUser.Username }}/.ssh
chmod 700 /home/{{ .Templates.ManagedUser.Username }}/.ssh
chmod 600 /home/{{ .Templates.ManagedUser.Username }}/.ssh/authorized_keys
{{ end }}
{{- if .Templates.GivenUser.SSHAuthorizedKeys }}
mkdir -p /home/{{ .Templates.GivenUser.Username }}/.ssh
cat <<'EOF' >/home/{{ .Templates.GivenUser.Username }}/.ssh/authorized_keys
{{- range .Templates.GivenUser.SSHAuthorizedKeys }}
{{ . }}
{{- end }}
EOF
chown -R {{ .Templates.GivenUser.Username }}:{{ .Templates.GivenUser.Username }} /home/{{ .Templates.GivenUser.Username }}/.ssh
chmod 700 /home/{{ .Templates.GivenUser.Username }}/.ssh
chmod 600 /home/{{ .Templates.GivenUser.Username }}/.ssh/authorized_keys
{{ end }}
{{- if .Templates.Kickstart.PostScript }}
{{ .Templates.Kickstart.PostScript }}
{{- end }}
%end
